{% extends 'website/base.html' %}

{% block title %}
    Login required
{% endblock %}

{% block css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }



        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            username: {
                                identifier: 'username',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your username'
                                    },
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid username'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form class="ui large form login" method="post" action="../home">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password }}
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large blue submit button logBut" value="Login">Login</button>
                    {# <div class="ui fluid large teal submit button">Login</div>#}
                </div>

                <div class="ui error message">{{ form.error_message }}</div>
            </form>

            <div class="ui message">
                <h3>New to us ? - <a href="{% url 'website:register' %}">Sign Up</a></h3>
            </div>
        </div>
    </div>
{% endblock %}