{% extends 'website/includes/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

    </style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    Register your account
                </div>
            </h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="ui segments">
                    <div class="ui raised segment">
                        <h3>
                            Login informations
                        </h3>
                        <div class="ui form">
                            <div class="field">
                                <label>Username</label>
                                {{ user_form.username }}
                            </div>
                        </div>
                        <div class="ui form">
                            <div class="field">
                                <label>Password</label>
                                {{ user_form.password }}
                            </div>
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <h3>
                            Complements
                        </h3>
                        <div class="ui form">
                            <div class="field">
                                <label>Email</label>
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="ui form">
                            <div class="field">
                                <label>First Name</label>
                                {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="ui form">
                                <div class="field">
                                    <label>Last Name</label>
                                    {{ user_form.last_name }}
                                </div>
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <h3>
                            Data collection
                        </h3>
                        <div class="ui form">
                                <div class="field">
                                    <label>Facebook Id</label>
                                    {{ profile_form.facebook_id }}
                                </div>
                        </div>
                        <div class="ui form">
                                <div class="field">
                                    <label>Phone Number</label>
                                    {{ profile_form.phone_number }}
                                </div>
                        </div>
                    </div>
                    <input class="ui fluid large blue submit button" type="submit" value="Register">
                </div>
        </div>
        </form>
    </div>
    </div>
{% endblock %}